<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title}Čongiho prezentace{/block}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>